.jumbotron {
    background-color: rgba(201, 76, 76, 0) !important;
}

.panel {
    background-color: rgba(0, 0, 0, 0.3) !important;
    color: white;
}

.panel :hover {
    background-color: rgba(0, 0, 0, 0.3) !important;
    
}

#topy {
    pointer-events: none;
}

.panel-heading {
    pointer-events: none;
}

/* .form-group {
    pointer-events: none;
}

.panel-body {
    pointer-events: none;
}

.btn:not(.panel-body){
    pointer-events: none;

} */